<th:block th:if="${gPasConnectionAvailable == null}">
    <h2><span>🟦</span> gPAS nicht konfiguriert - Patienten-IDs werden intern anonymisiert</h2>
</th:block>
<th:block th:if="${gPasConnectionAvailable != null}">
    <h2><span th:if="${gPasConnectionAvailable.available}">✅</span><span th:if="${not(gPasConnectionAvailable.available)}">⚡</span> Verbindung zu gPAS</h2>
    <div>
        Stand: <time style="font-weight: bold" th:datetime="${#temporals.formatISO(gPasConnectionAvailable.timestamp)}" th:text="${#temporals.formatISO(gPasConnectionAvailable.timestamp)}"></time>
        &nbsp;|&nbsp;
        Letzte Änderung: <time style="font-weight: bold" th:datetime="${#temporals.formatISO(gPasConnectionAvailable.lastChange)}" th:text="${#temporals.formatISO(gPasConnectionAvailable.lastChange)}"></time>
    </div>
    <div>
        <span>Die Verbindung ist aktuell</span>
        <strong th:if="${gPasConnectionAvailable.available}" style="color: green">verfügbar.</strong>
        <strong th:if="${not(gPasConnectionAvailable.available)}" style="color: red">nicht verfügbar.</strong>
    </div>
    <div class="connection-display border">
        <img th:src="@{/server.png}" alt="ETL-Processor" />
        <span class="connection" th:classappend="${gPasConnectionAvailable.available ? 'available' : ''}"></span>
        <img th:src="@{/server.png}" alt="gPAS" />
        <span>ETL-Processor</span>
        <span></span>
        <span>gPAS</span>
    </div>
</th:block>