<div th:if="${not tokensEnabled}">
    <h2><span>⛔</span> Tokens</h2>
    <p>Die Verwendung von Tokens ist nicht aktiviert.</p>
</div>

<div id="tokens" th:if="${tokensEnabled}">
    <h2><span>✅</span> Tokens</h2>
    <div class="border">
        <div th:if="${tokens.isEmpty()}">Noch keine Tokens vorhanden.</div>
        <table th:if="${not tokens.isEmpty()}" class="config-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Erstellt</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="token : ${tokens}">
                    <td>[[ ${token.name} ]]</td>
                    <td>
                        <time th:datetime="${token.createdAt}">[[ ${token.createdAt} ]]</time>
                        <button class="btn btn-red" th:hx-delete="@{/configs/tokens/{id}(id=${token.id})}" hx-target="#tokens">Löschen</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${newTokenValue != null and success}" class="new-token">
            Verwendung über HTTP-Basic. Bitte notieren, wird nicht erneut angezeigt: <pre>[[ ${newTokenValue} ]]</pre>
        </div>
        <div th:if="${success != null and not success}" class="no-token">
            Das Token konnte nicht erzeugt werden. Versuchen Sie einen anderen Namen.
        </div>
        <div class="token-form">
            <form th:hx-post="@{/configs/tokens}" hx-target="#tokens">
                <input placeholder="Token-Name" name="name" required />
                <button class="btn">Token Erstellen</button>
            </form>
        </div>
    </div>
</div>