spring:
  kafka:
    bootstrap-servers: ${app.kafka.servers}
    consumer:
      group-id: ${app.kafka.group-id}
  flyway:
    locations: "classpath:db/migration/{vendor}"

  web:
    resources:
      cache:
        cachecontrol:
          max-age: 1d
      chain:
        strategy:
          content:
            enabled: true
            paths: /**/*.js,/**/*.css,/**/*.svg,/**/*.jpeg
app:
  isGenomDeTestSubmission: true
server:
  forward-headers-strategy: framework