<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div th:fragment="nav">
        <nav>
            <a class="nav-home" th:href="@{/}">
                <img th:src="@{/icon.svg}" alt="Icon" />
                <span>ETL-Processor</span>
            </a>
            <ul>
                <li><a th:href="@{/}">Übersicht</a></li>
                <li><a th:href="@{/statistics}">Statistiken</a></li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/configs}">Konfiguration</a>
                </li>
                <li class="login" sec:authorize="not isAuthenticated()">
                    <a th:href="@{/login}">Login</a>
                </li>
                <li class="login" sec:authorize="isAuthenticated()">
                    <span>
                        <span>👤</span>
                        <span sec:authentication="name">?</span>
                    </span>
                    &nbsp;
                    <a th:href="@{/logout}">Abmelden</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>