<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ETL-Prozessor</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div th:replace="~{fragments.html :: nav}"></div>
    <main>
        <div class="login-form">
            <img th:src="@{/user.svg}" alt="user-logo" />
            <h2 class="centered">Anmelden</h2>
            <div class="centered notification error" th:if="${param.error}">Anmeldung nicht erfolgreich</div>
            <div class="centered notification notice" th:if="${param.expired}">Sitzung abgelaufen oder von einem Administrator beendet.</div>
            <div class="centered notification success" th:if="${param.logout}">Sie haben sich abgemeldet</div>
            <form method="post" th:action="@{/login}">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="" />
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" />
                <button class="btn" type="submit">Anmelden</button>
                <hr th:if="${not oidcLogins.isEmpty()}" />
                <a th:each="oidcLogin : ${oidcLogins}" class="btn" th:href="@{/oauth2/authorization/{provider}(provider=${oidcLogin.component1()})}">OIDC Login - [[ ${oidcLogin.component2()} ]]</a>
            </form>
        </div>
    </main>
</body>
</html>