<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ETL-Processor</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
    <div th:replace="~{fragments.html :: nav}"></div>
    <main>

        <h1>Anfrage <span class="monospace">[[ ${request.uuid} ]]</span></h1>

        <th:block th:insert="~{fragments :: request}">
        </th:block>

        <h2 th:text="${request.report.description}"></h2>

        <p th:if="${issues.isEmpty()}">
            Keine weiteren Angaben.
        </p>

        <table th:if="${not issues.isEmpty()}">
            <thead>
                <tr>
                    <th>Schweregrad</th>
                    <th>Beschreibung und Pfad</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="issue : ${issues}">
                <td th:if="${issue.severity.value == 'info'}" class="bg-blue"><small>[[ ${issue.severity} ]]</small></td>
                <td th:if="${issue.severity.value == 'warning'}" class="bg-yellow"><small>[[ ${issue.severity} ]]</small></td>
                <td th:if="${issue.severity.value == 'error'}" class="bg-red"><small>[[ ${issue.severity} ]]</small></td>
                <td th:if="${issue.severity.value == 'fatal'}" class="bg-red"><small>[[ ${issue.severity} ]]</small></td>
                <td>
                    <div class="issue-message">[[ ${issue.message} ]]</div>
                    <div class="issue-path" th:if="${issue.path.isPresent()}">[[ ${issue.path.get()} ]]</div>
                    <div class="issue-path" th:if="${issue.path.isEmpty()}"><i>Keine Angabe</i></div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
    <script th:src="@{/main.js}"></script>
</body>
</html>
