<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ETL-Prozessor</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div th:replace="~{fragments.html :: nav}"></div>
    <main>

        <h1>Anfrage <span class="monospace">[[ ${request.uuid} ]]</span></h1>

        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Typ</th>
                    <th>ID</th>
                    <th>Datum</th>
                    <th>Patienten-ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:if="${request.status.value == 'success'}" class="bg-green"><small>[[ ${request.status} ]]</small></td>
                    <td th:if="${request.status.value == 'warning'}" class="bg-yellow"><small>[[ ${request.status} ]]</small></td>
                    <td th:if="${request.status.value == 'error'}" class="bg-red"><small>[[ ${request.status} ]]</small></td>
                    <td th:if="${request.status.value == 'unknown'}" class="bg-gray"><small>[[ ${request.status} ]]</small></td>
                    <td th:if="${request.status.value == 'duplication'}" class="bg-gray"><small>[[ ${request.status} ]]</small></td>
                    <td th:style="${request.type.value == 'delete'} ? 'color: red;'"><small>[[ ${request.type} ]]</small></td>
                    <td>[[ ${request.uuid} ]]</td>
                    <td><time th:datetime="${request.processedAt}">[[ ${request.processedAt} ]]</time></td>
                    <td>[[ ${request.patientId} ]]</td>
                </tr>
            </tbody>
        </table>

        <h2 th:text="${request.report.description}"></h2>

        <p th:if="${issues.isEmpty()}">
            Keine weiteren Angaben.
        </p>

        <table th:if="${not issues.isEmpty()}">
            <thead>
                <tr>
                    <th>Schweregrad</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="issue : ${issues}">
                <td th:if="${issue.severity.value == 'info'}" class="bg-blue"><small>[[ ${issue.severity} ]]</small></td>
                <td th:if="${issue.severity.value == 'warning'}" class="bg-yellow"><small>[[ ${issue.severity} ]]</small></td>
                <td th:if="${issue.severity.value == 'error'}" class="bg-red"><small>[[ ${issue.severity} ]]</small></td>
                <td>[[ ${issue.message} ]]</td>
            </tr>
            </tbody>
        </table>
    </main>
    <script th:src="@{/scripts.js}"></script>
</body>
</html>